
  @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Poppins:wght@300;500;800&family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-family: 'Climate Crisis', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.navbar{   
    background: white
}
.nav-item>a:hover{
color: brown;
transform: scale(1.1);
}

body {
    margin: auto;
    font-family: sans-serif;
    overflow: auto;
    background: linear-gradient(315deg,  rgba(60,132,206,1) 38%, rgb(48, 115, 238) 68%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
.landing{
    height: 87vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff00;
    border-radius: 12px;
    margin-top: 1rem;
}
.landing>.about{
    margin-top: 1rem;
    width:100%;
    display: flex;
    flex-direction: column;
}
.landing>.about>.pic{
   margin: 1rem auto;
}
.landing>.about img{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    margin: 1px auto;
    box-shadow: rgba(0, 0, 255, 0.26) -20px -20px 25px,rgba(0, 0, 255, 0.295) 20px 20px 30px;
}
.landing>.about>.me{
    background-color: #07070786;
    margin: 0 1rem ;
    border-radius: 12px;
    padding: 0.3rem;
    padding-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.landing>.about>.me>.welcome{
    color: gold;
    font: 700 1.3rem robotto;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.landing>.about>.me>p{
    color: beige;
    font: 500 1.rem robotto;
    text-align: center;
}

.section-Skills{
    width: 100%;
    background: #ffffff00;
    border-radius: 12px;
    margin-bottom: 3rem;
}
.skl,.projects{
background: rgba(255, 255, 255, 0.253);
box-shadow: rgba(0, 0, 0, 0.527) 2px 2px 10px;
}
.section-Projects{
    backdrop-filter: blur(5px);
    margin-bottom: 2rem;
}   

.x2{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: gray 2px 2px 10px;
}
.x2::before{
content: attr(data-info);
color: rgb(255, 255, 255);
text-shadow:rgba(0, 0, 0, 0.486) 5px 5px 20px;
font: 800 1rem arial;
padding-top: 20px;
position: absolute;
height: 100%;
width: 100%;
background-color: #1743a300;
backdrop-filter: blur(3px);
display: flex;
justify-content: center;
align-items: start;
transform: translateX(-100%);
transition: 0.3s;
}
.x2:hover::before{transform: translateY(60%)}
footer{
    backdrop-filter: blur(10px);
    border-top: 3px solid rgba(36, 138, 255, 0.301);
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

